* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a{
    text-decoration: none;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #434343, #000000);
    justify-content: center;
    align-items: center;
}

header.header {
    text-align: center;
    padding: 1.5rem 1rem;
    background:#434343;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

header.header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #1e90ff;
    font-weight: 700;
}

nav.nav {
    background:#434343;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

nav.nav ul {
      display: grid;
      grid-auto-flow: column; 
      grid-auto-columns: max-content; 
      justify-content: center; 
      align-items: center; 
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 40px; 
    }

    nav.nav ul a,
        nav.nav ul li a {
    display: inline-block;
    padding: 0.8rem 1rem;
    color: #1e90ff;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

    nav.nav ul a:hover,
        nav.nav ul li a:hover {
    background-color: #1e90ff;
    color: white;
}

h1 {
  text-align: center;
  background-color:#434343;
  padding: 15px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    /* fondo semitransparente */
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 300px;
    justify-self: center;
}
  
.card form {
    display: flex;
    flex-direction: column;
}
  
.card div {
    margin-bottom: 20px;
}
  
label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: white;
}
  
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}
  
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
  
.buttons a {
    text-decoration: none;
    color: white;
  }
  
.buttons button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.buttons button:hover {
    background-color: #0056b3;
}

