a {
  text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/assets/istockphoto-1314724689-612x612.jpg);
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
  }

header.header {
  text-align: center;
  padding: 1.5rem 1rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

header.header h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #1e90ff;
  font-weight: 700;
}

h1 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
}

table {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #0078D7;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}


th:first-child,
td:first-child {
  display: none;
}